<section class="left-section">
    <div class="left-content">
        <div class="profile">
            <div class="image">
                <img src="./img/Foto_Perfil.jpg" alt="Foto_Prefil">
            </div>
            <h2 class="name"><%= nombre %></h2>
            <p class="career"><%= titulo %></p>
        </div>
        <div class="contact-info">
            <h3 class="main-title"><%= contacto %></h3>
            <ul>
                <li>
                    <i class="fa-brands fa-whatsapp"></i>
                    +57 3102359610
                </li>
                <li>
                    <i class="fa-brands fa-google"></i>
                    danielsierrabetancourt@gmail.com
                </li>
                <li>
                    <i class="fa-brands fa-facebook-f"></i>
                    @Daniel Sierra
                </li>
                <li>
                    <i class="fa-brands fa-instagram"></i>
                    @dsierra0912
                </li>
                <li>
                    <i class="fa-solid fa-location-dot"></i>
                    Cra 137 A 132 F 09 Bogotá D.C
                </li>
            </ul>
        </div>
        <div class="skills-section">
            <h3 class="main-title"><%= skills %></h3>
            <ul>
                <li>
                    <p class="skill-title"><%= lenguaje %></p>
                    <div class="progress-bar">
                        <div class="progress js-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">Php</p>
                    <div class="progress-bar">
                        <div class="progress ps-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">Java</p>
                    <div class="progress-bar">
                        <div class="progress j-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">C++</p>
                    <div class="progress-bar">
                        <div class="progress c-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">React</p>
                    <div class="progress-bar">
                        <div class="progress ps-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">Node js</p>
                    <div class="progress-bar">
                        <div class="progress n-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">html/css</p>
                    <div class="progress-bar">
                        <div class="progress ps-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">Mysql</p>
                    <div class="progress-bar">
                        <div class="progress ps-progress"></div>
                    </div>
                </li>
                <li>
                    <p class="skill-title">Postgress</p>
                    <div class="progress-bar">
                        <div class="progress ps-progress"></div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="competencies-section">
            <h3 class="main-title">Competencia Laboral</h3>
            <div class="referee">
                <ul>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Mentalidad de crecimiento
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Trabajo en equipo
                    </li>
                </ul>
            </div>
            <div class="referee">
                <ul>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Comodidad en un entorno digital
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Aprendizaje independiente
                    </li>
                </ul>
            </div>
            <div class="referee">
                <ul>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Creatividad e Innovación
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Flexibilidad al cambio
                    </li>
                </ul>
            </div>
            <div class="referee">
                <ul>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Solución de problemas
                    </li>
                    <li>
                        <i class="fa-solid fa-star"></i>
                        Actitud positiva
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>